<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html>
<head>
    <title> Find Roomates ! | {% block title %}{% endblock %} </title>
</head>

<body>
    <div id="nav", class="container_12">
        <a href="/">home</a> |
        <a href="/">search</a> |
        <a href="/">contact</a>
    </div>

    <div class="clear"></div>

    <div id="content" class="container_12"> </div>

    <div class="clear"></div>


    <div id="sub_content" class="container_12">
        <div class="sub_content grid_4"> </div>
        <div class="sub_content grid_4"> </div>
        <div class="sub_content grid_4"> </div>
    </div>


    <div class="clear"></div>

    <div id="footer" class="grid_12"></div>

        

<h1>{% block head %}{% endblock %}</h1>
    {% block content %}{% endblock%}
</body>

</html>
