{% extends "base.html" %}


{% block title %} Home Page {% endblock %}

{% block head %} Welcom to FindChineseRoommates.com ! {% endblock %}

{% block content %}
    欢迎来到FindChineseRoommates.com ! </br>

    相信当你来到这个网站的时候，一定在为找到合适自己的房源而苦苦烦恼。
    不管你是初到美国留学的学生，还是刚步入社会的职场新人，


    我们的目标是整合纽约周围适合学生的租房信息， 方便中国留学生互相交流房源信息。
    这里你将会找到纽约不同地区，不同。。，不同户型的信息。

    在这里，你可以搜索纽约不同地区，不同住房， 不同户型甚至不同卧室的价格。




    在此预祝各位小伙伴可以找到自己理想的居处以及合适的室友。</br>

    PS： 本网站作者希望为大家提供一个便捷的租房信息交流平台。由于初次涉猎网站制作，故希望能找到有经验的朋友共同开发。
    有兴趣的小伙伴可以通过<a href=”mailto:rh1689@nyu.edu”>email</a>与作者取得联系。 </br>
    谢谢。 </br>

    <hr/>

    {% load staticfiles %}
    <img src="{% static 'manhattan_night.jpg' %}" alt="My image" width="200" height="150" />
    <img src="/static/manhattan_night.jpg" alt="Mahattan Night"  width="200" height="150" />
    <img src="/static/manhattan_night.jpg" alt="Mahattan Night"  width="200" height="150" />

{% endblock %}